<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
<!--     <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
<header>
    <div class="header">
        E-shop
        <button class="cart-btn" @click="show = !show">Корзина</button>
    </div>
    <div class="cart" v-show="show">
        <div class="cart-item" v-for="el of cartProducts" :key="el.id_product" :id="el.id_product">
            <img :src="imgCatalog" alt="el.product_name">
            <p>{{el.product_name}}</p>
            <div class="counter">{{el.quantity}}</div>
            <button @click="removeCartProduct(el)" >Удалить</button>
        </div>
    </div>

</header>

<main>
    <div class="products">
         <div class="product-item" v-for="el of products" :key="el.id_product">
              <img :src="imgCatalog" :alt="el.product_name">
              <div class="desc">
                  <h3>{{el.product_name}}</h3>
                  <p>{{el.price}}</p>
                  <button class="buy-btn" @click="addProduct(el)">Купить</button>
              </div>
         </div>
    </div>
</main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script defer src="js/main.js"></script>
</body>
</html>